
              body{
                background-color: beige;
              }
              .calculator{
                width: 500px;
                border-radius:10px;
                background-color: black;
                padding: 10px;
                box-shadow: 4px 4px 10px #4d6162;
                margin-left: 35%;
                margin-top: 7%;
              }
              .display{
                height:100px;
                font-size: 50px;
                text-align: right;
                padding: 5px;
                background-color:#818c72;
                border:1px solid #ccc;
                border-radius: 5px;
                margin-bottom: 10px;
                overflow:auto;
            }
            .buttons{
                display:grid;
                grid-template-columns: repeat(4,3fr);
                gap:5px;
            }
            button{
                height:80px;
                width:120px;
                font-size:25px;
                border: none;
                border-radius: 5px;
                cursor:pointer;
                background-color: #e2dbc0;
            }
            button:hover{
                background-color: #ca5858;
            }
        